# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# matches any files and directories with the name test
**/Debug/*
**/x64/*
**/.vs/*
*.log
ArquitecturaSkeleton/1_Skeleton/1_Skeleton/swalib-master/swalib_example/Debug/*
ArquitecturaSkeleton/1_Skeleton/1_Skeleton/swalib-master/swalib_example/x64/*
ArquitecturaSkeleton/1_Skeleton/1_Skeleton/swalib-master/swalib_example/.vs/*
